.panel {
	font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
	padding: 10px 10px 10px 10px;
}

.ui-controlgroup-controls {
	width: 100%;
}

.ui-header .ui-title {
	margin-left: 10px;
	margin-right: 5em;
	text-align: left;
}