.gradeColor {
	height: 2em;
	border: 3px solid black;
}

.panel {
	font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
	/*background-color: #d3d3d3;*/
	padding: 10px 10px 10px 10px;
}

.panel h2{
	margin-top: 5px;
}


.ui-controlgroup-controls {
	width: 100%;
}